// Variables
$primary-color: #0d6e8b8c;
$secondary-color: #ffc252;
$video-overlay: #44b98c;
$menu-overlay: #02856fd3;

$white: #fff;
$grey: #4d644d;

$menu-speed: transitiion duration 0.3s;


$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px